extend ../layout
block content

	.row
		.page-header
			h2 #{product.name}

	form.row
		.span6
			h3 Details
			table.table.table-striped.table-bordered
				tbody
					tr.success
						th.span3 	Name
						td.span9 	#{product.name}
					tr
						th 	SKU
						td 	#{product.sku}
					tr
						th 	Category
						td 	#{product.category}
					tr
						th 	UPC
						td 	#{product.upc}
					tr
						th 	SEO
						td 	#{product.seo}
					tr
						th 	Date
						td 	#{moment(product.date).format("YYYY-MM-DD HH:mm")}
					tr
						th 	Featured
						td 	#{product.featured}

			h3 Pricing
			table.table.table-bordered
				tbody
					tr
						th.span3 Pricing
						td.span9 	
							table.table.table-condensed
								tr
									td 	List
									td 	Retail
									td 	% Saving
								tr
									td 	#{product.pricing.list}
									td 	#{product.pricing.retail}
									td 	#{product.pricing.pct_savings}


			h3 Shipping
			table.table.table-bordered
				tbody
					tr
						th.span3 	Weight
						td.span9 	#{product.shipping.weight}
					tr
						th.span3 	Dimensions
						td.span9 	
							table.table.table-condensed
								tr
									td 	Width
									td 	Height
									td 	Depth
								tr
									td 	#{product.shipping.dimensions.width}
									td 	#{product.shipping.dimensions.height}
									td 	#{product.shipping.dimensions.depth}

		.span6
			h3 Images
			img(src="http://placehold.it/450x350")
			//- .row.center
			ul.thumbnails
				li
					img.img-polaroid(src="http://placehold.it/100x60")
				li
					img.img-polaroid(src="http://placehold.it/100x60")
				li
					img.img-polaroid(src="http://placehold.it/100x60")
				li
					img.img-polaroid(src="http://placehold.it/100x60")

		
		table.table.table-bordered
			tbody
				tr
					th.span3 	Details
					td.span9 	#{JSON.stringify(product.details)}

			

			

    form(action="/products/#{product._id}", method="post", role="form", name="form").form-horizontal#form
        .panel.panel-default
            .panel-heading Details
            .panel-body
                .form-group
                    label.control-label.col-sm-1(for="name") Name
                    .col-sm-3
                        input.form-control(type="text", name="name", placeholder="Name", value=product.name)
                    label.control-label.col-sm-1(for="make") Make
                    .col-sm-3
                        input.form-control(type="text",  name="make", placeholder="Make", value=product.make)
                    label.control-label.col-sm-1(for="model") Model
                    .col-sm-3
                        input.form-control(type="text", name="model", placeholder="Model", value=product.model)
                .form-group
                    label.control-label.col-sm-1(for="category") Category
                    .col-sm-3
                        input.form-control(type="text", name="category", placeholder="Category", value=product.category)
                    label.control-label.col-sm-1(for="seo") SEO
                    .col-sm-3
                        input.form-control(type="text", name="seo", placeholder="SEO", value=product.seo)
        .panel.panel-default
            .panel-heading Pricing
            .panel-body
                .form-group
                    label.control-label.col-sm-1(for="retail") Retail
                    .col-sm-3
                        input.form-control(type="text", name="retail", placeholder="", value=product.pricing.retail)
                    label.control-label.col-sm-1(for="sale") Sale
                    .col-sm-3
                        input.form-control(type="text",  name="sale", placeholder="", value=product.pricing.sale)
                    label.control-label.col-sm-1(for="cost") Cost
                    .col-sm-3
                        input.form-control(type="text", name="cost", placeholder="", value=product.pricing.cost)
        .col-sm-1
            .form-group
                a.btn.btn-danger.btn-block#delete(product="#{product._id}") Delete 
                    span.glyphicon.glyphicon-remove
        .col-sm-1.col-sm-offset-10
            .form-group
                button(type="submit").btn.btn-primary.btn-block Save 
                    span.glyphicon.glyphicon-save
block scripts
    script(src="/js/plugins/jquery.validate.min.js", type="text/javascript")
    script(src="/js/plugins/typeahead.min.min.js")
    script(src="/js/controller/product.js")

